@charset "utf-8";
@media (max-width : 1920px ){
}
.top ul{
	width:100%;
	list-style-type:none;
	display: table;
	table-layout: fixed;
	padding: 0;

}
.top ul li
{
	font-size: 20px;
	margin: 0;
	display: table-cell;
	background-color: #bebebe;
	color: #fff;line-height: 50px;text-align: center;
/*	border-radius: 10px;*/
}
.top ul li:hover
{
	background-color: #cc0000
}
.top ul li:active
{
	background-color: #880000
}
.top a
{
	color: white;
	text-decoration:none;
	
}

.list a
{
	color: white;
	text-decoration:none;
	
}

ul li:not(:last-child){border-right: 1px solid #ccc;}

#select
{
	background-color: #f00
}

.item
{
	text-decoration:none;	
	border-radius: 10px;
	background-color: #099;
	padding: 10px 20px;
	margin: 10px 5px;

	
}

.item:hover
{
	background-color: #006363;
}

.item .title
{
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.item .detail
{
	text-align: center;
	color: #5eeeee
}


table
{
	width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
}

.button span
{
	font-size: 10px;
	color: lightgrey;
	vertical-align: bottom
}

.main-title{
	text-align: center;
}

.page{
	text-align: center;
}

.chosen_page{
	text-decoration:underline;
}

.content{
	margin-right: 200px;
	margin-left: 200px;
}

.not_presence{

}

.main{
	margin-left: 200px;
	margin-right: 200px;
}