<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>{{name}}</title>
	<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body class="main">
	<header>
	
	<div class="top">
			<ul>
				<a  href="/api/speciality/"><li>专业</li></a>
				<a href="/api/station/"><li>职位</li></a>
				<a href="#contact"><li>热度趋势</li></a>
				<a href="#about"><li>关于</li></a>
			</ul>
		</div>
	</header>
	<article>
		<h1>{{name}}</h1>
		<h2>频率：{{frequency}}</h2>
		<hr/>
		<h2>相关专业</h2>
		{%for item in speciality%}
		<a class="button" href="{{item.url}}">{{item.name}}<span>&nbsp;权重{{item.weight}}</span></a>
		{%endfor%}
		<h2>相关职位</h2>
		{%for item in stations%}
		<a class="button" href="{{item.url}}">{{item.name}}<span>&nbsp;权重{{item.weight}}</span></a>
		{%endfor%}
		<h2>相关页面</h2>
		{% for item in pages %}
		<p>
			<a href="{{item.url}}">{{item.co_name}}————{{item.name}}</a>
		</p>
		{% endfor %}
		
	</article>
</body>
</html>
