<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>{{name}}</title>
	<script type="text/javascript" src="/static/onloadManager.js"></script>
	<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<link rel="bookmark"href="/static/favicon.ico" />
	<style type="text/css">
	table{border: 1px;}
	</style>
</head>

<body class="main">
	<header>
	<div class="top">
			<ul>
				<li><a  href="/api/speciality/">专业</a></li>
				<li><a href="/api/station/">职位</a></li>
				<li><a href="/api/search">热词</a></li>
				<li><a href="/static/about.html" target="_blank">关于</a></li>
			</ul>
		</div>
	</header>
	<article>
		<h1>
			职位：<a href="{{station.url}}">{{station.name}}</a>
		</h1>
		
		<h1>
			专业：
		</h1>
		{% for item in speciality %}
			<a href="{{item.url}}">{{item.name}}</a>
		{% endfor %}
		<hr/>
		<h1>
			原文:
		</h1>
		{{article|safe}}
		<br/>
		
	</article>
</body>
</html>
