<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>专业：{{name}}</title>
	<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
	<script type="text/javascript" src="/static/onloadManager.js"></script>
	<script type="text/javascript" src="/static/expand.js"></script>
	<script type="text/javascript" src="/static/resizeBar.js"></script>
</head>

<body class="main">
	<header>
	<div class="top">
			<ul>
				<li><a  href="/api/speciality/">专业</a></li>
				<li><a href="/api/station/">职位</a></li>
				<li><a href="#contact">热度趋势</a></li>
				<li><a href="#about">关于</a></li>
			</ul>
		</div>
	</header>
	<article class="article">
		<h1>
			{{name}}
		</h1>
		频数{{frequency}}
		<hr/>
		<h2>热度趋势</h2>
		<p>未实现</p>
		<hr/>
		<h2>专业关键词</h2>
		<div class="cut">
			<table border="0">
				{% for item in keyword %}
				<tr class="bar_row">
					<td width="10%">
						<a href="{{item.url}}">{{item.name}}</a>
					</td>
					<td class="weight" width="10%">
						{{item.weight}}
					</td>
					<td class="bar_out">
	<!--					此处设计用来放一个长条。来让这个表格看起来像柱状图-->
						
						<div class="bar"></div>
						
						
					</td>
				</tr>
				{% endfor %}
			</table>
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
		<h2>相关职位</h2>
		<div class="cut">
			{%for item in station%}
			<a class="button" href="{{item.url}}">{{item.name}}<span>&nbsp;频数{{item.frequency}}</span></a>
			{%endfor%}
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
		<hr/>
		<h2>相关页面</h2>
		<div class="cut">
			{% for item in page %}
			<p>
				<a href="{{item.url}}">{{item.co_name}}————{{item.name}}</a>
			</p>
			{% endfor %}
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
	</article>
</body>
</html>
