<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>专业目录</title>
<link href="/static/a.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
	<div class="content">
		<div class="top">
			<ul>
				<li id="select"><a  href="#home">专业</a></li>
				<li><a href="#news">职位</a></li>
				<li><a href="#contact">热度趋势</a></li>
				<li><a href="#about">关于</a></li>
			</ul>
		</div>
		{% for item in speciality %}
		<a href="{{item.url}}">
			<div class="item">
				<div class="title">
					{{item.name}}
				</div>
				<div class="detail">
					频率{{item.frequency}}
				</div>
			</div>
		</a>
		{% endfor %}
		{% if nextPage is defined%}
		<a href="{{ nextPage }}"> 下一页 </a>
		{% endif %}
		{% if prePage is defined %}
		<a href="{{ prePage }}"> 上一页 </a>
		{% endif %}
	</div>
</body>
</html>
