<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>专业：{{name}}</title>
	<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body class="main">
	<header>
	<div class="top">
			<ul>
				<a  href="/api/speciality/"><li>专业</li></a>
				<a href="/api/station/"><li>职位</li></a>
				<a href="#contact"><li>热度趋势</li></a>
				<a href="#about"><li>关于</li></a>
			</ul>
		</div>
	</header>
	<article class="article">
		<h1>
			{{name}}
		</h1>
		频数{{frequency}}
		<hr/>
		<h2>热度趋势</h2>
		<p>未实现</p>
		<hr/>
		<h2>专业关键词</h2>
		{% for item in keyword %}
		<table border="0">
		
			<tr>
				<td width="20%">
					<a href="{{item.url}}">{{item.name}}</a>
				</td>
				<td>
<!--					此处设计用来放一个长条。来让这个表格看起来像柱状图-->
					{{item.weight}}
				</td>
			</tr>
		</table>
		{% endfor %}
		<h2>相关职位</h2>
		{%for item in station%}
		<a class="button" href="{{item.url}}">{{item.name}}<span>&nbsp;频数{{item.frequency}}</span></a>
		{%endfor%}
		<hr/>
		<h2>相关页面</h2>
		{% for item in page %}
		<p>
			<a href="{{item.url}}">{{item.co_name}}————{{item.name}}</a>
		</p>
		{% endfor %}
	</article>
</body>
</html>
