<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>专业目录</title>
<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
	<div class="content">
		<h1 class="main-title">基于高校大数据的智能分析系统</h1>
		<div class="top">
			<ul>
				<li id="select"><a  href="/api/speciality/">专业</a></li>
				<li><a href="/api/station/">职位</a></li>
				<li><a href="#contact">热度趋势</a></li>
				<li><a href="#about">关于</a></li>
			</ul>
		</div>
		<table class="list" border="0">
		{% for item in speciality %}
			{%if loop.index0 % 4 ==0%}
			<tr>
			{%endif%}
				<td>
					<a href="{{item.url}}">
						<div class="item">
							<div class="title">
								{{item.name}}
							</div>
							<div class="detail">
								频率{{item.frequency}}
							</div>
						</div>
					</a>
				</td>

			{%if loop.index0 % 3 ==3%}
			</tr>
			{%endif%}

		{% endfor %}
		</table>
		<div class="page">
			{% if prePage is defined %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  	<a class="button" href="{{ prePage }}"> 上一页 </a>
			{% else %}
			<a class="button" style="background-color:gray"> 上一页 </a>
			{% endif %}
			<a class="chosen_page">1</a>
			<a>2</a>
			{% if nextPage is defined%}
			<a class="button" href="{{ nextPage }}"> 下一页 </a>
			{% else %}
			<a class="button" style="background-color:gray"> 下一页 </a>
			{% endif %}
		</div>
	</div>
	
	<footer style="height: 50px"></footer>
</body>
</html>
