<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>职位：{{name}}</title>
	<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
	<script type="text/javascript" src="/static/global.js"></script>
	<script type="text/javascript" src="/static/onloadManager.js"></script>
	<script type="text/javascript" src="/static/hot_graph.js"></script>
	<script type="text/javascript" src="/static/echarts.min.js"></script>
	<script type="text/javascript" src="/static/expand.js"></script>
	<script type="text/javascript" src="/static/resizeBar.js"></script>
	<link rel="shortcut icon" href="/static/favicon.ico" />
	<link rel="bookmark"href="/static/favicon.ico" />
</head>

<body class="main">
	<header>
	
	<div class="top">
			<ul>
				<li><a  href="/api/speciality/">专业</a></li>
				<li><a href="/api/station/">职位</a></li>
				<li><a href="/api/search">热词</a></li>
				<li><a href="/static/hotSpeciality.html">热门专业排行</a></li>
				<li><a href="/static/about.html" target="_blank">关于</a></li>
			</ul>
		</div>
	</header>
	<article>
		<h1>
			{{name}}
		</h1>
		热度{{frequency}}
		<hr/>
		<h2>热度趋势</h2>
<!--		这个div中放了一个热度图的后端api的url。js获取url，从后端获取数据-->
		<div style="width: 100%" id="hot_graph">{{hot}}</div>
		<hr/>
		<h2>专业热词</h2>
		<div class="cut">
			<table border="0">
				{% for item in keyword %}
				<tr class="bar_row">
					<td width="10%">
						<a href="{{item.url}}">{{item.name}}</a>
					</td>
					<td class="weight" width="10%">
						{{item.weight}}
					</td>
					<td class="bar_out">
	<!--					此处设计用来放一个长条。来让这个表格看起来像柱状图-->

						<div class="bar"></div>


					</td>
				</tr>
				{% endfor %}
			</table>
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
		<h2>相关专业</h2>
		<div class="cut">
			{%for item in speciality%}
			{% if item.name == "__none__" %}
				{% set _name = "任何专业"%}
			{%else%}
				{% set _name = item.name%}
			{% endif %}
			<a class="button" href="{{item.url}}">{{_name}}<span>&nbsp;热度{{item.frequency}}</span></a>
			{%endfor%}
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
		<hr/>
		<h2>相关页面</h2>
		<div class="cut">
			{% for item in page %}
			<p>
				<a href="{{item.url}}">{{item.co_name}}————{{item.name}}</a>
			</p>
			{% endfor %}
			<a href="javascript:void(0)" class="etc"><div>展开全部</div></a>
		</div>
	</article>
</body>
</html>
