<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>职位目录</title>
<link href="/static/b.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
	<div class="content">
		<div class="top">
			<ul>
				<li><a  href="/api/speciality/">专业</a></li>
				<li id="select"><a href="/api/station/">职位</a></li>
				<li><a href="#contact">热度趋势</a></li>
				<li><a href="#about">关于</a></li>
			</ul>
		</div>
		<table class="list" border="0">
		{% for item in station %}
			{%if loop.index0 % 3 ==0%}
			<tr>
			{%endif%}
				<td width="33%">
					<a href="{{item.url}}">
						<div class="item">
							<div class="title">
								{{item.name}}
							</div>
							<div class="detail">
								频率{{item.frequency}}
							</div>
						</div>
					</a>
				</td>

			{%if loop.index0 % 3 ==3%}
			</tr>
			{%endif%}

		{% endfor %}
		</table>
		{% if nextPage is defined%}
		<a class="button" href="{{ nextPage }}"> 下一页 </a>
		{% endif %}
		{% if prePage is defined %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a class="button" href="{{ prePage }}"> 上一页 </a>
		{% endif %}
	</div>
	
	<footer style="height: 50px"></footer>
</body>
</html>
